In [71]:
# Import packages and libraries 
import pandas as pd
import numpy as np

from sklearn.metrics import r2_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [48]:
# Pass data into a DataFrame
df = pd.read_csv("energydata_complete.csv")

# Convert the date column to datetime
df['date']= pd.to_datetime(df['date'])

In [7]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  datetime64[ns]
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: datetime64[ns](1), float64(26), int64(2)
memory usage: 4.4 MB

In [85]:
r = df.T2.corr(df.T6)
(r **2).round(2)

0.64

In [24]:
df = df.drop(columns=['date', 'lights'])

KeyError: "['date', 'lights'] not found in axis"

In [25]:
df.head(1)

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.79,19.79,44.73,19.0,45.566667,17.166667,...,17.033333,45.53,6.6,733.5,92.0,7.0,63.0,5.3,13.275433,13.275433

In [26]:
scaler = MinMaxScaler()

In [27]:
normalized_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [31]:
X = normalized_df.drop(columns=["Appliances"])

In [33]:
y = normalized_df["Appliances"]

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [39]:
Linear_model = LinearRegression()

In [40]:
Linear_model.fit(X_train, y_train)

LinearRegression()

In [41]:
y_pred = Linear_model.predict(X_test)

In [44]:
mae = mean_absolute_error(y_test, y_pred)

In [84]:
mae.round(2)

0.05

In [83]:
np.sum(np.square(y_pred - y_test)).round(2)

45.35

In [ ]:
mse = mean_squared_error(y_test, y_pred)

rmse = np.sqrt(mse)

In [ ]:
rmse

In [82]:
r2 = r2_score(y_test, y_pred)
round(r2, 2)

0.15

In [58]:
Linear_model.coef_

array([-0.00328105,  0.5535466 , -0.23617792, -0.45669795,  0.29062714,
        0.09604827,  0.028981  ,  0.02638578, -0.01565684,  0.01600579,
        0.23642491,  0.03804865,  0.01031878, -0.04461364,  0.10199505,
       -0.15759548, -0.18994077, -0.03980032, -0.32185967,  0.00683933,
       -0.07767065,  0.02918313,  0.01230661,  0.11775773,  0.0007701 ,
        0.0007701 ])

In [61]:
ridge_model = Ridge(alpha=0.4)

In [62]:
ridge_model.fit(X_train, y_train)

Ridge(alpha=0.4)

In [67]:
y2_pred = ridge_model.predict(X_test)

In [68]:
mean_absolute_error(y2_pred, y_test)

0.050087445840923825

In [70]:
mse2 = mean_squared_error(y_test, y2_pred)

rmse2 = np.sqrt(mse2)
rmse2

0.08753385704628003

In [72]:
lasso_model = Lasso(alpha=0.001)

In [74]:
lasso_model.fit(X_train, y_train)

Lasso(alpha=0.001)

In [77]:
y_pred_lasso = lasso_model.predict(X_test)

In [81]:
mse_lasso = mean_squared_error(y_test, y_pred_lasso)

rmse_lasso = np.sqrt(mse_lasso)
round(rmse_lasso, 3)

0.094